<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.szalkowski.adamsbatterysaver"
    android:versionCode="12"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-feature android:required="false" android:name="android.hardware.bluetooth"/>
    <uses-feature android:required="false" android:name="android.hardware.wifi"/>
    <uses-feature android:required="false" android:name="android.hardware.gsm"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="de.szalkowski.adamsbatterysaver.ui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
               <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.thirdparty.AdvancedSettingsActivity"></activity>
        <activity android:name="de.szalkowski.adamsbatterysaver.ui.WhiteListPreferenceActivity"></activity>
        <service android:name="MainService"></service>
        <receiver android:name="service.AutoStartReceiver" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <data android:scheme="package" android:path="de.szalkowski.adamsbatterysaver"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>
                <data android:scheme="package" android:path="de.szalkowski.adamsbatterysaver"/>
                </intent-filter>
            </receiver>
        <receiver android:name="service.PowerStateReceiver" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
                <action android:name="android.intent.action.SCREEN_ON"/>
                <action android:name="android.intent.action.SCREEN_OFF"/>
            </intent-filter>
        </receiver>
        <receiver android:name="service.AlarmReceiver" android:label="@string/app_name">
            <intent-filter>
                <action android:name="de.szalkowski.adamsbatterysaver.WAKEUP_ACTION"/>
                <action android:name="de.szalkowski.adamsbatterysaver.WAKEUP_TIMEOUT_ACTION"/>
                <action android:name="de.szalkowski.adamsbatterysaver.SCREEN_TIMEOUT_ACTION"/>
                <action android:name="de.szalkowski.adamsbatterysaver.POWER_TIMEOUT_ACTION"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>